.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bg-grad{
  background: linear-gradient(137.9deg, #642B73 13.76%, #C6426E 85.26%);
}
.f-20{
  font-size: 20px;
}
.mt-80{
  margin-top:80px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pointer{
  cursor: pointer;
}

.fade-out{
  transition: 1s;
  height: 0px;
  opacity: 0;
}

.text-pink {
  color:#9d3870;
}
.hover-pink:hover{
  color:#9d3870;
}
.hover-danger:hover{
  color:rgb(173, 16, 16);
}
.cursor-pointer{
  cursor: pointer;
}

.cursor-disable{
  cursor: not-allowed;
}


.btn-outline-grad{
  background-color: #fafafa;
  border-radius: 8px;
  border:1.5px solid #9d3870;
  color: #9d3870;
  transition: 0.3s;
}
.btn-grad{
  border-radius: 8px;
  background: linear-gradient(137.9deg, #642B73 13.76%, #C6426E 85.26%);
  color:white;
  transition: 0.3s;
}
.btn-outline-grad:hover,.btn-grad:hover{

  background: linear-gradient(137.9deg, #642B73 13.76%, #C6426E 85.26%);
  color:white;
  box-shadow: 0px 2px 10px #35353586;
}

.round{
  border-radius: 16px;
}

.fade-in{
  transition: 1s;
  opacity: 1;
}

.b-none{
  border: none;
}

.bgd-gradient{
  background: linear-gradient(137.9deg, #642B73 13.76%, #C6426E 85.26%);
}

.background-inherent{
  background-color: inherent !important;
}


/* TYPOGRAPHY */
h1{
  font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;

}

.horizontol-center{
  margin-left:50%;
  transform: translateX(-50%);
}

.wrong{
  background-color:#f7cbcb;
}

.correct{
  background-color:#b7eba9;
}
