.rating{
    margin-top:8px;
    margin-bottom: 7px;
    padding: 0;
}

.rating span svg path{
    
    fill:  none ;
    stroke: #9d3870;
    stroke-width: 3;
}
.rating span.fill svg path{
    fill:#9d3870;
} 