.tabs .tab{
    background-color: #F4F4F4;
    border:1px solid #E1E0E0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.tabs .tab.active,.tabs .tab:hover{
    background: #FFFFFF;
    box-shadow: -1px -2px 6px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
}
.tabs .tabCont{
    min-height: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0px 32px 32px 32px;
    text-align: left;
}
.wrapperClassName{
    max-width: 800px;
    margin:10px;
    border-radius: 18px;
    min-height: 500px;
    border: 1px solid #e4e4e4;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    
}
.constraintWrapper{
    max-width: 800px;
    margin:10px;
    border-radius: 18px;
    min-height: 250px;
    border: 1px solid #e4e4e4;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
.constraintWrapper .editorClassName{
    padding:10px;
} 
.wrapperClassName .editorClassName{
    padding:10px;
}

