table {
  position: relative;
  max-width: 100vw;
  background-color: white;
  overflow: hidden;
  border-collapse: collapse;
}

/*thead*/
thead {
  position: relative;
  display: block; /*seperates the header from the body allowing it to be positioned*/
  max-width: 80vw;
  overflow: visible;
  z-index:2;
}
thead tr{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
thead th {
  min-width: 130px;
  height: 45px;
  border: 1px solid #d7d7d7;
  background-color: white;
  
}

thead th:nth-child(1) {/*first cell in the header*/
  position: relative;
  display: block; /*seperates the first cell in the header from the header*/
  border: 1px solid #d7d7d7;
  background-color: #f4f4f4;
}


/*tbody*/
tbody {
  position: relative;
  display: block; /*seperates the tbody from the header*/
  max-width: 80vw;
  max-height: 70vh;
  overflow: scroll;
}

tbody td {
  min-width: 130px;
  border: 1px solid #d7d7d7;
  background-color: #fcfcfc;
  height: 45px;
}

tbody tr th {  /*the first cell in each tr*/
  position: relative;
  display: block; /*seperates the first column from the tbody*/
  height: 74px;
  width: 130px;
  border: 1px solid #d7d7d7;
  background-color: white;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.no-style{
  max-width: 50px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: inherit;
}

.font-sm{
  font-size: 0.8em;
}

.subMenu{
  position: absolute;
  left:70%;
  top:5px;
  width:70px;
  height:60px;
  box-shadow: 0px 3px 5px #0f0f0f3b;
  background-color: white;
  z-index: 10;
  font-size: 11px;
  padding-top: 8px;
  cursor: pointer;
  animation:showDropDown 0.3s ease-out ;
}



td .black{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.555);
  animation:showDropDown 0.3s ease-out ;
}
.subMenu span:hover{
  color:rgb(124, 12, 117);
}