.custom-table {
  position: relative;
  max-width: 97vw;
  background-color: white;
  overflow: hidden;
  border-collapse: collapse;
}

/*thead*/
.custom-table thead {
  position: relative;
  display: block; /*seperates the header from the body allowing it to be positioned*/
  max-width: 97vw;
  overflow: visible;
  z-index:2;
}
.custom-table thead tr{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.custom-table thead th {
  min-width: 130px;
  width: 130px;
  height: 45px;
  border: 1px solid #d7d7d7;
  background-color: white;

}

.custom-table thead th:nth-child(1) {/*first cell in the header*/
  position: relative;
  display: block; /*seperates the first cell in the header from the header*/
  border: 1px solid #d7d7d7;
  background-color: #f4f4f4;
  min-width: 170px;
}


/*tbody*/
.custom-table tbody {
  position: relative;
  display: block; /*seperates the tbody from the header*/
  max-width: 97vw;
  max-height: 78vh;
  overflow: scroll;
}

.custom-table tbody td {
  min-width: 130px;
  border: 1px solid #d7d7d7;
  background-color: #fcfcfc;
  height: 45px;
}

.custom-table tbody tr th {  /*the first cell in each tr*/
  position: relative;
  display: block; /*seperates the first column from the tbody*/
  height: 74px;
  width: 170px;
  border: 1px solid #d7d7d7;
  background-color: white;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.no-style{
  max-width: 50px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: inherit;
}

.font-sm{
  font-size: 0.8em;
}

.subMenu{
  position: absolute;
  right:5px;
  top:5px;
  width:70px;
  height:60px;
  box-shadow: 0px 3px 5px #0f0f0f3b;
  background-color: white;
  z-index: 10;
  font-size: 11px;
  padding-top: 8px;
  cursor: pointer;
  animation:showDropDown 0.3s ease-out ;
  border-radius: 3px;
}
.menu-toggle{
  position:absolute;
  right:5px;
  top:5px;
  color:#464646;
}
.custom-table td.disable{
  background-color: #e9e9e9;
  cursor: not-allowed;
}
.react-select__single-value,.react-select__option{
  width:100%;

}
.react-select__control{
  padding:10px;
}

@media (min-width:800px){
  .custom-table td:hover{
    background-color: rgb(252, 225, 244);
  }
  .custom-table td.disable:hover{
    background-color: #e9e9e9;
  }
  .menu-toggle{
    display: none;
  }
  .custom-table td:hover .menu-toggle{
    display: inline-block;
  }
}




.custom-table td .black{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.555);
  animation:showDropDown 0.3s ease-out ;
}
.subMenu span:hover{
  color:rgb(124, 12, 117);
}
