.section .sectionHead{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    padding: 20px;
    position: relative;
}
.section{
    padding:15px;
    box-shadow: 0px 2px 10px 4px #d6d6d6a9;
    border-radius:25px;
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
}
.section::after{
    content: "";
    
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background: linear-gradient(137.9deg, #642B73 13.76%, #C6426E 85.26%);
}
.section>*{
    padding:0px 25px 25px 25px;
}
.sectionHead::before{
    content:"";
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 13px;
    background: linear-gradient(180deg, #642B73 13.76%, #C6426E 85.26%);
   
}
