body{
  background: linear-gradient(137.9deg, #642B73 13.76%, #C6426E 85.26%);
}

html{
  min-height: 100vh;
  overflow-x: hidden;
}

.shadow-pink{
  box-shadow: 10px 10px 5px 0px #4a1d4a8f;
}

.gradient-background{
  background: linear-gradient(137.9deg, #642B73 13.76%, #C6426E 85.26%);
}

.color-pink-shade{
  background-color: #de3d5a;
  transition: 0.5s;
}

.width-fixed{
  min-height: 50vh;
}

.vertical-allign{
  margin-top: 25vh;
}

.tool-tip{
  position: relative;
  width:100%;
}

.tool-tip::before{
  content:"";
  position: absolute;
  left: 20%;
  bottom: 100%;
  border-width: 0 10px 12px 10px;
  border-style: solid;
  border-color:transparent transparent #ced4da transparent;
  transition: 0.8s;
  /* animation-name: slider;
  animation-duration: 2s; */
}

.tool-tip2::before{
  content:"";
  position: absolute;
  left: 75%;
  bottom:100%;
  border-width: 0 10px 12px 10px;
  border-style: solid;
  border-color:transparent transparent #ced4da transparent;
}

.position-img{
  position: relative;
  top: -50%;
}

.active-cls{
  font-size: 2em;
  color: #de3d5a;
}

.loader{
  max-width: 30px;
  height: auto;
  filter: brightness(220%);
}
.tab-head h6{
  width:100%;
  height: 100%;
  padding:5px 10px 0px 10px;
  box-shadow:inset 0px 0px 8px #5c5c5c2f;
  transition: font-size 0.7s ease-in-out,box-shadow 0.5s ease-in-out;
  border-radius:0px;
  vertical-align: baseline;
}

.tab-head h6.active-cls{
  box-shadow: 0px 2px 10px #5c5c5c5d;
}

.tab-head{
  padding: 0;
  
}

.tab-head-div{
  height: 50px;

}
