<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <input type="text" name="" value="" id="container">
    <ul>

    </ul>
    <button type="button" id="btn" name="button">Add</button>
    <script type="text/javascript">
      document.querySelector('#btn').addEventListener('click',function(){
        document.querySelector('ul').innerHTML += `<li><div class="item">${document.querySelector('#container').value}</div><span class="del">Delete</span></li>`
        document.querySelector('#container').value="";
      })
    </script>
  </body>
</html>
