.profile-nav{
    
    /* height:100px; */
    position: fixed;
    top:0;
    left:0;
    width:100%;
    min-height: 70px;
    background: linear-gradient(263.48deg, #642B73 13.3%, #C6426E 76.86%);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 15px 15px;
    z-index: 100;
    transform: translateY(-120%);
    transition: 0.7s ease-in-out;
    /* display: flex;
    align-items: center; */
    will-change: transform;
    transition-delay: 0.3s ;
}
.profile-nav.show{
    transform: translateY(0);
}


.navImg{
    width:80px;
    height:80px;
    margin-left:20px;
    margin-top:0px;
    transform: translate(0);
}
.navImg div{
    width:70px;
    height: 70px;
    margin:5px;
}
.navTitle{
    display: inline;
    text-align: left;
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 35px;
   
    color: #FFFFFF;
    text-transform: uppercase;
}

